services:
  telegram-bot:
    build: ./bot
    container_name: telegram-bot
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    networks:
      - bot
    restart: unless-stopped
    ports: 
      - 7070:7070
    

networks:
  bot:
    driver: bridge