name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    
    - name: Add remote host to known_hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H ${{ secrets.VPS_SERVER_IP }} >> ~/.ssh/known_hosts

    - name: Install rsync
      run: sudo apt-get install rsync

    - name: Deploy to VPS
      run: |
        # Sync files with rsync
        rsync -avz --delete --exclude='.git*' --exclude='node_modules' --exclude='*.env' ./ ${{ secrets.VPS_USER }}@${{ secrets.VPS_SERVER_IP }}:/var/www/html/SoftHelper
        
        # Run docker-compose on the VPS to pull and build the latest version
        ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_SERVER_IP }} "cd /var/www/html/SoftHelper && docker-compose pull && docker-compose up -d --build"
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        VPS_SERVER_IP: ${{ secrets.VPS_SERVER_IP }}
        VPS_USER: ${{ secrets.VPS_USER }}
